root = "."
tmp_dir = "tmp"

[build]
  include_ext = ["go", "tpl", "tmpl", "html"]
  exclude_dir = ["assets", "tmp", "vendor", "testdata"]
  cmd = "go build -o ./tmp/main ."
  bin = "./tmp/main"
  log = "air_errors.log"
  delay = 1000

[log]
  time = true

[color]
  main = "magenta"
  watcher = "cyan"
  build = "yellow"
  runner = "green"

[misc]
  clean_on_exit = true